useDynLib(coxinterval)
import(Matrix, parallel, survival, timereg)
export("coxic",
       "coxic.control",
       "coxaalenic",
       "coxaalenic.control",
       "coxaalenic.ineq",
       "const2lin",
       "frame.assign",
       "lin2const",
       "linapprox",
       "jump2step",
       "step2jump",
       "maximalint",
       "trans",
       "na.coxic")
S3method(print, coxic)
S3method(print, coxaalenic)
S3method(na.coxic, default)
