useDynLib(coxinterval)
import(Matrix, parallel, survival, timereg)
export("coxic",
       "coxic.control",
       "coxaalenic",
       "coxaalenic.control",
       "trans",
       "na.coxic")
S3method(print, coxic)
S3method(print, coxaalenic)
S3method(na.coxic, default)
