useDynLib(coxinterval)
import(Matrix, parallel, survival, timereg)
export("coxic",
       "coxic.control",
       "coxic.data",
       "coxaalenic",
       "coxaalenic.control",
       "coxaalenic.ineq",
       "const2lin",
       "lin2const",
       "linapprox",
       "jump2step",
       "step2jump",
       "step2stepfun",
       "string2expr",
       "inside",
       "is.subset",
       "maximalint",
       "rdualic",
       "rdualic.type",
       "rdualrc",
       "rdualrc.type",
       "rprog",
       "rsched",
       "rsurv",
       "trans",
       "na.coxic")
S3method(print, coxic)
S3method(print, coxaalenic)
S3method(na.coxic, default)
